# Exclude all kernel files
src/core/tudat_setup_util/spice/juice_kernels/*
src/misc/cassini_kernels/*

# Exclude .gitkeep from being ignored
!src/core/tudat_setup_util/spice/juice_kernels/.gitkeep
!src/misc/cassini_kernels/.gitkeep